adal==1.2.1
aiohttp==3.6.2
aiounittest==1.3.0
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
azure-cognitiveservices-language-luis==0.2.0
azure-common==1.1.25
Babel==2.7.0
botbuilder-ai==4.7.1
botbuilder-core==4.7.1
botbuilder-dialogs==4.7.1
botbuilder-schema==4.7.1
botframework-connector==4.7.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
datedelta==1.3
emoji==0.5.4
grapheme==0.6.0
idna==2.8
isodate==0.6.0
isort==4.3.21
jsonpickle==1.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
msrest==0.6.10
msrestazure==0.6.2
multidict==4.7.5
multipledispatch==0.6.0
oauthlib==3.1.0
pycparser==2.20
PyJWT==1.5.3
pylint==2.4.4
python-dateutil==2.8.1
python-dotenv==0.12.0
pytz==2019.3
recognizers-number==1.0.0a3
recognizers-text==1.0.2a2
recognizers-text-choice==1.0.2a2
recognizers-text-date-time==1.0.2a2
recognizers-text-number==1.0.2a2
recognizers-text-number-with-unit==1.0.2a2
regex==2019.8.19
requests==2.22.0
requests-oauthlib==1.3.0
six==1.14.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
yarl==1.4.2
